.sign-in {
  padding: 3rem;
  width: 23.75rem;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
  .sign-up-desc {
    font-size: 0.9rem;
    color: #444444;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
