$sub-color: #c0c0c0;
$main-color: #252525;
$border-color: #e5e5e5;
$main-active-bg: #ffdcba;

.footer {
  max-width: 98%;
  background-color: #252525;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .info-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .footer-brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ffffff;
  }
  .footer-info {
    width: 100%;

    .info-columns {
      .column-four {
        .footer__search-container {
          display: flex;
          width: 50%;

          form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.7rem;

            .search-box {
              width: 100%;
              height: 2rem;
              border: 1px solid $border-color;
              border-right: none;
              outline: none;
              font-size: 1.2rem;
              letter-spacing: 1px;
              color: $main-color;
              &:focus {
                color: #c0c0c0;
              }
            }

            #search-btn {
              width: 30%;
              height: 2.3rem;
              border: none;
              background: $main-active-bg;
              text-align: center;
              color: $main-color;
              cursor: pointer;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .bottom-section {
    }
  }
}
