.deal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 auto;
  width: 100%;
  padding: 0.5rem;
  margin: 4rem 0;
  margin-bottom: 5rem;

  background-color: #f1f1f1;

  .deal__col-1 {
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;

    .col-1--title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      h2 {
        font-family: "Raleway", sans-serif;
        color: #343641;
        letter-spacing: 1px;
      }
    }
    .col-1--description p {
      font-size: 16px;
      color: #9b9b9b;
      font-weight: 400;
      line-height: 26px;
      margin: 0 0 15px 0;
    }
    .col-1--price {
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      p {
        color: #f08923;
        font-size: 1.5rem;
        font-weight: 600;

        span {
          font-size: 0.7rem;
          color: #9b9b9b;
          font-weight: 400;
        }
      }
    }
    .col-1--time {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1rem;

      .col-1__time--days,
      .col-1__time--hours,
      .col-1__time--mins,
      .col-1__time--secs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        background-color: #ffffff;
        padding: 1.1rem;
        font-weight: 900;
        color: #f08923;
        border-radius: 0.3rem;
        margin: 0.5rem;

        span {
          color: #9b9b9b;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 1.1rem;
        }
      }
    }

    .deal__btn-wrapper {
      margin-top: 2rem;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .deal__col-2 {
    img {
      width: 18rem;
    }
  }
}
