:root {
  --dark-nav-bg: #252525;
  --main-active-bg: #ffdcba;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 1.25rem 3.75rem;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--dark-nav-bg);
}

.main-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
