.checkout-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .products-table {
    width: 75%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
    border: 1px solid #e5e5e5;

    .checkout-header {
      width: 100%;
      padding: 1em 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e5e5e5;

      .header-block {
        width: 21%;
        padding: 1em;

        span {
          color: #343641;
          font-weight: 800;
          text-transform: uppercase;
        }

        &:last-child {
          width: 10%;
        }
      }
    }
  }

  .checkout-total {
    width: 75%;
    background: #f1f0f0;
    margin: 50px auto 0;
    margin-top: 1rem;
    margin-bottom: 2rem;

    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 800;
      text-transform: uppercase;
      padding: 1rem;

      color: #343641;
      span {
        color: #ffa851;
        font-size: 1.3rem;
        padding: 0.5em;
      }
    }
  }
  .test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: #9b9b9b;
  }
}
