$sub-color: #c0c0c0;
$main-color: #343641;
$border-color: #e5e5e5;
$main-active-bg: #ffdcba;

.info-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 0rem;
  border: 1px solid $border-color;
  border-bottom: none;

  .info-left,
  .info-right {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $main-color;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 20px;
    border-right: 1px solid $border-color;

    span {
      color: $main-color;
    }
    .info-icons {
      padding: 0 0.5rem;
    }
    .social {
      transition: ease-in-out 0.5s;

      &:hover {
        cursor: pointer;
        color: #f08923;
      }
    }
  }
  .info-left {
    .left__email-service,
    .left__phone-service,
    .left__social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
    }
  }
  .info-right {
    .right__login {
      width: 100%;
      .login__option {
        color: #f08923;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          color: #765432;
        }

        .option__username {
          font-size: 1rem;
          margin-right: 0.7rem;
        }
      }
    }
  }
}
