$dark-nav-bg: #252525;
$main-active-bg: #ffdcba;

.custom-button {
  min-width: 10.3125rem;
  width: auto;
  height: 3.12rem;
  letter-spacing: 0.1rem;
  line-height: 3.12rem;
  padding: 0 2.18rem 0 2.18rem;
  font-size: 0.937rem;
  background-color: var(--main-active-bg);
  color: var(--dark-nav-bg);
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;

  &:hover {
    background-color: #ffffff;
    color: var(--dark-nav-bg);
    border: 1px solid var(--dark-nav-bg);
  }
}
